
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>
				<div id="AlertMsgEvent" class="modal-event" style = "display:none">
				</div>
				<style>.cursor-pointer{
					cursor: pointer !important;
				}</style>
				<div id="AlertMsgTools" class="modal-tools" style = "display:none">
					<div id="EnterPassword" class="form-group" style="display:none;">
						<input type="password" class="form-control cursor-pointer" id="password" placeholder="Please enter the password :">
					</div>
		
					
					
					<div id="timepicker" style="display:none;" ng-app="mwl.calendar.docs">
						<div ng-controller="TimepickerDemoCtrl">
							<p class="input-group">
							  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							  <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							  </span>
							</p>
							<uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>													
						</div>
					</div>
					
				</div>
				<div id="AlertMsgBody" class="modal-body">
				
					<script>
					
						function SliderShow(){
							// Without JQuery
							var slider = new Slider('#ex1', {
								formatter: function(value) {
									return 'Current value: ' + value;
								}
							});
						}
						
					</script>
					
				</div>
				<div class="modal-footer" id="AlertMsgFooter">
					<button id="CancelMsgBtn" type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
					<button id="AlertMsgBtn"type="button" style = "display:none" class="btn btn-primary" data-dismiss="modal" >ok</button>
					<button id="ShowInfoBtn"type="button" class="btn btn-primary" style = "display:none">ok</button>
				</div>
			</div>
		</div>
	</div>
							
</div>
	