.info-box {
  display: block;
  min-height: 180px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 15px 0px 15px 0px;;
  text-align: center;
  
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  /* float: left; */
  height: 120px;
  width: 120px;
 
  line-height: 40px;
  font-size: 45px;
  /* background: rgba(0, 0, 0, 0.2); */
  padding-top: 20px;
  margin:1rem auto;
}
.info-box-icon-top{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    margin:0 auto;
    margin-bottom: 20px;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 40px;
    font-size: 45px;
    /* background: rgba(0, 0, 0, 0.2); */
    padding-top: 20px;
}

.info-box-icon > img {
  max-width: 100%;
}
.info-box-icon-white {
  color: #fff;
}
.info-box-icon-title{
	color:#fff;
    font-size:15px;
    margin-bottom: 20px;
}
.info-box-content {
  padding-left: 10px;
  margin-left: 120px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.info-box-content-left{
  display:inline;
  float:left;
  width:50%;
}
.info-box-content-right{
  display:inline;
  width:50%;
}
/* #monitor{
    margin-top:2rem;
} */

#tab-content{
    margin:2rem
}
.info-box-content-border{
	border-bottom: 1px solid #eee;
}



  
body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
}
.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}

#AppTables .img-btn{
	max-width: 50px;
    height: auto;
}

#AppTables .img_span{
    line-height: 5rem;
}

.table-app-management .media .summary {
	font-size: 14px;
	font-family: "Courier New", Courier, monospace;
}

.table-app-management .table-btn{
	right:0;
	bottom:0;
}

.table-app-management .fa-btn{
	cursor: pointer;
	margin: 0px 5px 0px 5px;
}

.table-app-management .fa-trash{
	color: DarkRed;
}