
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/* =============================================================
   GENERAL STYLES
 ============================================================ */

body {
    font-family: 'Open Sans', sans-serif;
    line-height:28px;
   
}

.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.content-wrapper {
    margin-top: 100px;
    min-height:800px;
    padding-bottom:90px;
}
.header-line {
    font-weight:900;
    font-size:2rem;
    /* color:#0081C6; */
    padding-bottom:25px;
    border-bottom:1px solid #eeeeee;
}
.header-line i{
    color:#337ab7;
}

.title-line {
    font-weight:900;
    font-size:1.5rem;
    color:#0081C6;
    padding-bottom:10px;
    border-bottom:1px solid #eeeeee;
}
.item-line{
    border-bottom:1px solid #eeeeee;
    padding:3px;
}
.pad-botm {
    padding-bottom:30px;
}

.navbar-header{
    min-width: 1070px;
}


/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

.right-div {
    float: right; 
    padding: 20px;
}
#menu-top a {
    color:#000;
    text-decoration:none;
    font-weight:900;
    font-size:16px;
    padding: 0.5rem 0.5rem;
    margin: 1.5rem 7px;
    
}

#menu-top a:after {
    opacity: 0;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #007dbc;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -1px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: opacity .2s ease-in;
}
#menu-top a:hover::after{
    opacity: 1 !important;
}
#menu-top>li{
    padding-top: 10px; 
    float: left; 
    padding-right: 10px; 
    cursor: pointer;

}
.menu-top-active {
    color:#337ab7 !important;

}
.menu-top-active:after {
    opacity: 1 !important;

}
.navbar-inverse {
background-color: #F4F4F4;
/* border-color: rgba(155, 153, 153, 0.23); */
padding-bottom: 5px;
border-bottom: 4px solid #9170E4

}

.navbar {
    min-height: 70px;
    margin-bottom: 0px;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.navbar-toggle {
background-color: white;
border: 1px solid black;
}

.menu_fixed {
		position: fixed;
		background-color: #ffffff;
		z-index: 1001;
}

    /* =============================================================
   DASHBOARD STYLES
 ============================================================ */

.img-comments {
   border: 3px double #e1e1e1;
height: 60px;

}

.chat-widget-main {
    max-height:330px;
    overflow:auto;
}

.slide-bdr {
   border:5px solid #9170E4
}
.chat-widget-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #F70E62;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #F70E62;
    font-size:12px;
}
.chat-widget-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #5AA8CC;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #5AA8CC;
    font-size:12px;
}

.chat-widget-name-left {
   color: #808080;
    margin-top: 30px;
    margin-left: 60px;
    text-align:left;
}

    .img-left-chat {
        border:3px double #e1e1e1;
        float:left;
        margin-right:30px;
    }
     .img-right-chat {
        border:3px double #e1e1e1;
        float:right;
        margin-left:30px;
    }
     .chat-widget-main img-right {
        border:3px double #e1e1e1;
        float:left;
    }
.chat-widget-name-left h4 {
    font-weight:normal;
    font-size:11px;
    
}
.chat-widget-name-left h5 {
    font-weight:normal;
    font-size:10px;
}
.chat-widget-name-right h4 {
    font-weight:normal;
    font-size:11px;
}
.chat-widget-name-right h5 {
    font-weight:normal;
    font-size:10px;
}
.chat-widget-name-right {
    color: #808080;
    margin-top: 40px;
    margin-right: 60px;
    text-align:right;
}

.recent-users-sec img {
    max-height:80px;
    margin:15px;
}

.back-widget-set {
    background-color:transparent;
}

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
.footer-section {
    padding:25px 50px 25px 50px;
    color:#000;
    font-size:13px;
    background-color: #f7f7f7;
    text-align:right;
    border-top:1px solid black;

}

.footer-section a, .footer-section a:hover {
    color:#000;
}

/* color init */
.color-green{
    color: #00a65a;
  }	
  
  .color-red{
    color: #dd4b39;
  }
  .color-aqua{
      color: #00c0ef;
  }
  .bg-aqua{
    background-color: #00c0ef;
  }
  .bg-red{
    background-color: #dd4b39;
  }
  .bg-green{
    background-color: #00a65a;
  }
  .bg-yellow{
    background-color: #f39c12;
  }
  .bg-Cornsilk {
    background-color: Cornsilk;
  }
  
  .bg-DarkViolet{
    background-color: DarkViolet;
  }
   
  .bg-DarkRed{
    background-color: DarkRed;
  }
  
  .bg-DimGray{
    background-color: DimGray;
  }
  
  .bg-Indigo{
    background-color: Indigo;
  }
  
  .bg-SaddleBrown{
    background-color: SaddleBrown;
  } 
  
  .bg-SeaGreen{
    background-color: SeaGreen;
  } 
  
  .bg-SteelBlue{
    background-color: SteelBlue;
  } 
  

    /* 模态框样式 */
#page_loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 1100;
   }
    
   /* 动图样式 */
   #page_loading .load_gif {
    height: 32px;
    width: 32px;
    color:#337ab7;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    z-index: 1200;
   }

.device_category:hover{
    border-width:2px;
}

#terminal{
    width:100%;
    border:1px solid #ddd;
    height:60rem;
    position:relative;
    background-color:#eaeaea;
}

#terminal_iframe{
    height:60rem;
    width:100%;
}

#Terminal_closed{
    position: absolute;
    color:#d3104b;
    padding:5px;
    right:2rem;
    top:-4px;
    cursor: pointer;
}
/* vnc style */
#noVNC_content{
    border:1px solid #ddd;
    height:60rem;
    position:relative;
    background-color:#eaeaea;
}

#VNC_closed{
    position: absolute;
    color:#d3104b;
    padding:5px;
    right:3px;
    top:-4px;
    cursor: pointer;
}

#noVNC_status_bar {
    width: 100%;
    text-align: center;
}

#noVNC_status {
    color: #fff;
    font: bold 12px Helvetica;
    margin: auto;
}

.noVNC_status_normal {
    background: linear-gradient(#b2bdcd 0%,#899cb3 49%,#7e93af 51%,#6e84a3 100%);
}

.noVNC_status_error {
    background: linear-gradient(#c83737 0%,#899cb3 49%,#7e93af 51%,#6e84a3 100%);
}

.noVNC_status_warn {
    background: linear-gradient(#b4b41e 0%,#899cb3 49%,#7e93af 51%,#6e84a3 100%);
}

.noNVC_shown {
    display: inline;
}
.noVNC_hidden {
    display: none;
}

#noVNC_left_dummy_elem {
     flex: 1;
}

#Terminal_enter .Terminal_title, #VNC_enter .VNC_title{
    color:#337ab7;
    margin-bottom:20px;
}

#VNC_enter, #Terminal_enter{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
